.margin_16 {
  margin-top: 1rem;
}

.padding_left_7 {
  padding-left: 7px;
}

.article {
  margin-bottom: 10px;
}

.menu_header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #999;
  text-align: right;
}

.blog_comment {
	color: rgb(131, 131, 131);
	margin: 10px;
}

.boom {
  width: 1px;
  height: 1px;
  position: absolute;
  top: auto;
  left: -10000px;
  overflow: hidden;
}
