<head>
	{{ partial "html-meta.html" . -}}
	{{ if .IsHome }}
		<meta name="description" content="{{ .Site.Params.description }}">
	{{ else }}
		<meta name="description" content="{{ .Description }}">
	{{ end }}
	<title>{{ if .IsHome }}{{ .Site.Title }}{{else}}{{ .Title }}{{ end }}</title>

	{{ $opts := dict
		"transpiler" "libsass"
		"targetPath" "css/style.css"
	}}
	{{ with resources.Get "scss/_style.scss" | toCSS $opts | minify | fingerprint }}
	<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
	{{ end }}

	<link rel="icon" href="{{ "img/favicon.ico" | relURL }}" type="image/x-icon">
	<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.Params.rss_path }}">
	{{- if .Site.Params.bomb_ai -}}
	<meta name="robots" content="noai, noimageai">
	{{- end -}}
</head>
