{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "Imagen sin descripción" }}
{{ $width := .Get "width" | default "100" | int }}
{{ $link := .Get "link" }}
{{ $target := .Get "target" | default "_blank" }}
{{ $caption := .Get "caption" }}

{{ $mobileWidth := $width }}
{{ if lt $width 100 }}
  {{ $mobileWidth = add (div (mul $width 140) 100) 0 }}
  {{ if gt $mobileWidth 100 }}
    {{ $mobileWidth = 100 }}
  {{ end }}
{{ end }}

<style>
.img-wrapper {
  width: {{ $width }}%;
  margin: 1em auto;
  text-align: center;
}

@media (max-width: 768px) {
  .img-wrapper {
    width: {{ $mobileWidth }}%;
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.fig-caption {
  font-size: 0.9em;
  color: #666;
  margin-top: 0.5em;
  text-align: center;
}
</style>

<figure class="img-wrapper">
  {{ if $link }}
    <a href="{{ $link }}" target="{{ $target }}">
      <img src="{{ $src }}" alt="{{ $alt }}" class="img-responsive">
    </a>
  {{ else }}
    <img src="{{ $src }}" alt="{{ $alt }}" class="img-responsive">
  {{ end }}
  {{ if $caption }}
    <figcaption class="fig-caption">{{ $caption }}</figcaption>
  {{ end }}
</figure>
